/*General css*/
body {
    font-family: 'lato', san-serif;
}

header {
    text-align: right;
    font-style: bold;
    margin: 1% auto;
}

h2 {
    
    font-style: bold;
    text-align: right;   
}

h3 {
    font-size: 16px;
    font-style: bold;
    text-align: center;
}

hr {
    width: 0;
}

.paybills-container-head {
    background-color: #0F3B75;
    color: #ffffff;
}

.paybills {
    margin: 20px auto;
    width: auto;
    border-style: solid;
    border-color: #0F3B75;
}

.col-sm-4 {
    width: 50%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.btn-default {
    width: 100%;
    background-color: #0F3B75;
    color: #ffffff;
}